.donation-div{
    display: flex;
    flex-direction: column;
    width: 100vw;
    background: linear-gradient(to bottom, #03b3ff 60%, #0335ff 100%);
    color: rgb(0, 0, 0);
}
.donation-text{
    margin: auto;
    width: 75%;
    font-size: 16px;
    align-content: center;
}

.donation-text h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
}
.donation-text p{
    font-family: 'Stone Handwriting Pro';
  font-style: normal;
  font-weight: 400;
}