.cart-page-container{
    display: flex;
    flex-direction: column;
    background: rgb(255, 255, 255);
    border: 2px black solid;
    right: 0px;
    height: 80vh;
}
.cart-content-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    color: rgb(0, 0, 0);
    overflow: scroll;
    
}

.cart-item-displayed{
   display: flex;
   flex-direction: column;
   align-content: center;
   align-items: center;
   border: 1px black solid;
   margin-bottom: 5px;
}
.cart-item-displayed input{
    width: 60%;
}

.cartTitle{
    text-decoration: underline overline;
    margin: auto;
    padding: 10px;
}

.cart-image{
    width: 100px;
}

.remove-button{
    width: 100px;
    height: 20px;
    border-radius: 10px;
    color: transparent;    
    font-weight: 500;
    background-color: black;
    border: 3px solid red;
    color: red;
    margin-bottom: 10px;
}

.total-button-container{
    margin: auto;
    padding: 5px;
}
@media (min-width: 768px){
   
}    
@media (min-width: 1024px){
   
}    