.add-home-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.add-item-container{
    display: flex;
    flex-direction: column;
    margin: 20px auto;
}

.dropzone-container{
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: auto;
    width: 60%;
}

.dropzone{
    height: 150px;
    width: 150px;
    border: 1px black dotted;
}
.dropzone-image{
    height: 150px;
    width: 150px;
}

.additem-Inventory{
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-bottom: 20px;

}
.additem-text-fields{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 10px;
}
.additem-inventory-header{
    margin: auto;
    width: 100%
}

.additem-man-inventory-levels{
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}
.additem-womens-inventory-levels{
    display: flex;
    flex-direction: column;
}



.additem-input-fields{
    display: flex;
    flex-direction: column;
}
.additem-input-fields h1{
    font-size: 19px;
}

.buttons-container{
    padding: 20px;
    margin: auto;
}
.additem-buttons-container{
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 20px;
}
.additem-button{
    height: 35px;
    width: 150px;
    border-radius: 25px;
    border: 3px solid #5fa8f0;
    color: #ffffff;
    font-weight: 900;
    background-color: rgba(0, 0, 0, 0.808);
}
.additem-button:hover{
    background-color: #000000;
    border: none;
    color: white;
    cursor: pointer;
}

@media (min-width: 768px){
    .additem-Inventory{
        display: flex;
        flex-direction: row;
        margin: auto;

    }
    .additem-text-fields{
        display: flex;
        flex-direction: row;
        margin: auto;
        margin-bottom: 20px;
    }
    .additem-man-inventory-levels{
        display: flex;
        flex-direction: column;
        margin-right: 15px;
    }
    .additem-womens-inventory-levels{
        display: flex;
        flex-direction: column;
    }
}