.admin-home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to bottom, #01ff80 24%, #0180ff 70%,#4101ff 100%);
}

.admin-container{
    display: flex;
    flex-direction: column;
}

.admin-title{
    margin: auto;
    font-weight: 500px;
    text-decoration-line: underline;
}

.unauthorized-container{
    display: flex;
    flex-direction: column;
    margin:  40px auto;
}

.turn-back{
    font-weight: 600;
    color: black;
    text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
}

.admin-options{
    display: flex;
    flex-direction: column;
    color: #0180ff;
    margin: auto;
}
.button-links{
    margin: 5px;
    width: 100px;
    height: 45px;
    border-radius: 25px;
    color: transparent;    
    font-weight: 900;
    background-color: transparent;
    border: 5px solid #4101ff;
    color: #4101ff;
    letter-spacing: 1px;
}
.button-links:hover{
    background-color: #4101ff;
    border: none;
    color: white;
    cursor: pointer;
}

@media(min-width: 768px){
    .button-links{
        height: 100px;
        width: 200px;
        font-size: 20px;
    }
}
