.solo-product-container{
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.solo-product-display{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.solo-product-image{
    margin: auto;
}
.solo-product-image > img{
    width: 250px;
    margin: auto;
    border-radius: 25%;
    border: 1px #0180ff solid;
    box-shadow: -9px -9px 24px 0px rgba(0,0,0,0.67);
    
}

.solo-info-container{

    display: flex;
    flex-direction: column;  
    margin-top: 10px;
    margin: auto;
    width: 60%;
}

.solo-product-text{
   
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.solo-product-selects{
    display: flex;
    flex-direction: column;
    width: 48%;
    margin: 10px auto;
}

.add-to-button-container{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    margin: 15px auto;
}

.add-to-button{
    width: 300px;
    height: 45px;
    border-radius: 25px;
    color: transparent;    
    font-weight: 900;
    background-color: #0180ff;
    border: 3px black solid;
    color: #000000;
    letter-spacing: 1px;
}

/* .add-to-button:hover{
    background-color: #4101ff;
    border: none;
    color: white;
    cursor: pointer;
} */
.add-cart-message{
    background-color: white;
    border: 1px #0180ff solid;
    box-shadow: -9px -9px 24px 0px rgba(0,0,0,0.67);
    width: 90vw;
    position: absolute;
    top: 40%;
    left: 5%;
}
.add-cart-message h4{
    width: 80%;
    color: #0180ff;
    font-size: 1.4em;
    margin: auto;
    margin-left: 80px;
    
}

.product-text-updates{
    width: 50%;
}

.inventory-input-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.inventory-input-container label{
    margin-left: 60px;
}
.inventory-input-container input{
        padding: 0px;
        margin-right: 60px;
        background-color: #5fa8f0;
        color: white;
        border-radius: 10px;

}
.inventory-edit-list{
    display: flex;
    flex-direction: row;
}
.inventory-updates{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 0 auto;
}
.solo-text-updates{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
}
.inventory-updates h1{
    font-size: 20px;
}
.delete-button{
    width: 100px;
    height: 25px;
    border-radius: 10px;
    color: transparent;    
    font-weight: 900;
    background-color: black;
    border: 5px solid red;
    color: red;
    letter-spacing: 3px;
}

.delete-button:hover{
    background-color: red;
    border: none;
    color: white;
    cursor: pointer;
}
.delete-button-container{
    margin: 20px auto;
}

.update-button{
    height: 30px;
    width: 75px;
    border-radius: 25px;
    border: 3px solid #5fa8f0;
    color: #ffffff;
    font-weight: 900;
    background-color: rgba(0, 0, 0, 0.808);
    margin-bottom: 15px;
}
.update-button:hover{
    background-color: #0180ff;
    border: none;
    color: white;
    cursor: pointer;
}

@media(min-width: 426px){
    .solo-product-image > img{
        width: 300px;
    }
}
@media(min-width: 768px){
    .solo-product-image > img{
        width: 350px;
    }
    .solo-product-display{
        width: 40%;
        margin: auto;
        margin-top: 20px;
    }
    .inventory-updates h1{
        font-size: 2em;
    }
}