.solo-product-container{
    display: flex;
    flex-direction: column;
}



.solo-product-display{
    display: flex;
    flex-direction: column;
    margin:  15px auto;
}

.solo-product-display > img{
    transform: scale(.7);
    height: 250px;
}