.maintitle-div{
    background: url(../../assets/clothes.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

.title-content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85vh; 
    background-color: rgba(0, 0, 0, 0.452);
}

.storename-content{
    margin-top: 80px;
    color: white;
    text-align: center;
}

.header-content{
    color: white;
    text-align: center;
    font-size: 1.7em;
    width: 80vw;
    margin: 50px;
}

.shop-button{
    height: 50px;
    width: 200px;
    border-radius: 25px;
    border: 3px solid #ffffff;
    color: #ffffff;
    font-weight: 900;
    background-color: rgba(0, 0, 0, 0.808);
}
.shop-button:hover{
    background-color: #000000;
    border: none;
    color: white;
    cursor: pointer;
}

@media (min-width: 768px){
    .title-content-container{
        height: 40vh; 
    }
    .storename-content{
        margin-top: 40px;
    }
    .header-content{
        width: 100vw;
        font-size: 1.5em;
        
    }
}
@media (min-width: 1024px){
    .title-content-container{
        height: 55vh; 
    }
    .storename-content{
        margin-top: 70px;
    }
}