
.feature-div{
    display: flex;
    flex-direction: column;
    width: 100vw;
    background: white;
}

.featuredin-container{
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.featured-logo-container{
    width: 50%;
}

.feature-title{
    width: 35%;
    margin: auto;
    letter-spacing: 1px;
}

.featured-logo{
    display: flex;
    margin: auto;
    width: 80%;
}

@media (min-width: 426px){
   
}

@media (min-width: 768px){
  
}
