
.feature-div{
    display: flex;
    flex-direction: column;
    width: 100vw;
    background: linear-gradient(to bottom, #03ffcd 0%, #03b3ff 100%);
    
}
.mission-text{
    margin: auto;
    width: 75%;
    font-size: 15px;
    align-content: center;
}

.mission-text h1{
    font-size: 25px;
}
