.home-container{
    width: 100vw;
    height: 100vh;
    background-color: transparent;
}

.main-content-container{
    height: 80vh;    
    width: 100vw;
    background-color: rgb(9, 98, 139);
    margin: 40px auto;
}

.title-content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 40vh;
    width: 100vw;
}

.title-content-text{
    color: white;
}

.shop-button{
    width: 125px;
    height: 50px;
    border-radius: 25px;
    color: transparent;
    border: 5px solid red;
    color: red;
    font-weight: 700;
    background-color: transparent;
}
.shop-button:hover{
    background-color: red;
    border: none;
    color: white;
    cursor: pointer;
}
.video{
    position: fixed;
    /* top: 30%;
    left: 50%; */
    z-index: -1;
    min-width: 100vw;
    min-height: 100%;
    width: 100vw;
    height: 40vh;
    transform: scale(1.25);
}