.footer-container{
    display: flex;
    background-color: black;
    width: 100vw;
    height: 8vh;
    position: fixed;
    bottom: 0px;
}
.logo-container{
    background-color: black;
    margin-left: 5%;    
}

.logo{
    height: 100%;
}
.nav-bar-container{
}

.nav-list{
    display: flex;
    flex-direction: row;
}

.nav-link-text{
    display: flex;
    flex-direction: row;
    color: white;
    list-style-type: none;
    text-transform: uppercase;
    margin-right: 15px;
    font-size: 10px;
}