.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    width: 100vw;
    padding-bottom: 1px;
}
.logo-container-footer{
    background-color: black;
}

.logo-footer{
    width: 40px;
    margin: 5px 5px;
    padding: 0px;
}

.nav-list-footer{
    display: flex;
    flex-direction: row;
}

.nav-link-text-footer{
    text-decoration-line: none;    
    display: flex;
    flex-direction: row;
    color: #0180ff;
    list-style-type: none;
    text-transform: uppercase;
    margin-right: 15px;
    font-size: 10px;
}
@media (min-width: 426px){
    .logo-footer{
       width: 50px;
    }
    .nav-link-text-footer{
        font-size: 1.3rem;
        margin-top: 10px;
    }
}

@media (min-width: 768px){
    .logo-footer{
        width: 70px;
    }
}