.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    width: 100vw;
    height: 7vh;
    position: relative;
    bottom: 0px;
}
.logo-container{
    background-color: black;
}

.logo{
    height: 100%;
}

.nav-list-footer{
    display: flex;
    flex-direction: row;
}

.nav-link-text-footer{
    text-decoration-line: none;    
    display: flex;
    flex-direction: row;
    color: #0180ff;
    list-style-type: none;
    text-transform: uppercase;
    margin-right: 15px;
    font-size: 10px;

}