.search-landing-container{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, #4101ff 0%, #0180ff 10%,#01ff80 100%);
}

.search-landing-container > h1{
    color: #01ff80;
    margin: auto;
    font-size: 30px;
    text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 1.0806px 4.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.5136px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px;
}
.search-inputs-container label {
    color: rgb(0, 185, 247);
}

.search-inputs-container{
    display: flex;
    flex-direction: column;
}

.search-filter-container{
    display: flex;
    flex-direction: column;
    margin: auto;
}

.filter-button{
    margin-top: 10px;
    width: 100px;
    height: 45px;
    border-radius: 25px;
    color: transparent;
    border: 5px solid #4101ff;
    color: #01ff80;
    font-weight: 900;
    background-image: linear-gradient(to bottom, #01ff80 0%, #4101ff 50%,#01ff80 100%);
}

.input-field{
    background-color: #0180ff;
    color: white;
}

select {
    border: 1px black solid;
}

.search-results{
    margin-top: 10px;
}

.search-product-container{
    display: flex;
    flex-direction: column;
    background-color: #00000036;
    margin-bottom: 20px;
    width: 80%;
    margin: 20px auto;
    border-radius: 25px;
    border: 1px solid #0180ff;
    box-shadow: -9px -9px 24px 0px rgba(0,0,0,0.67);
}

.search-image-text-container{
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   height: 150px;
}

.product-image{
    height: 150px;
    width: 150px;
    border-radius: 25px;
    border: 1px black solid;
}

.search-product-text{
    width: 150px;
    margin: 0 auto;
    padding-left: 5px;
    margin-top: 10px;
}
.search-product-text > *{
    margin-bottom: -13px;
}
.search-product-text h1{
    font-size: 0.9em;
    color: white;
    letter-spacing: 1px;
    padding: 0px;
    margin: 0px;
    margin-bottom: -18px;
    text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.5136px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px;
}
.search-product-text p{
    font-size: 1rem;
    color: white;
    text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.5136px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px;
}

.search-inventory-levels{
    display: flex;
    flex-direction: row;
    margin: auto;
}

.men-inventory-levels{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.search-inventory-levels p{
    margin: auto;
    font-size: 15px;
}
.men-inventory-levels h1{
    font-size: 15px;
    margin-left: 30px;
}
.women-inventory-levels h1{
    font-size: 15px;
    margin-left: 30px;
    
}

.women-inventory-levels{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    
}