.search-landing-container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: white;
}

.search-inputs-container{
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 90%;
    
}
.input-field.price{
    width: 70px;
}

.filter-container{  
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin: auto;
}
.filter-button-container{
    border-bottom: 1px black solid;
    margin: auto;
    margin-bottom: 20px;
    width: 80%;
    padding: 15px 0px;
}

.filter-button{
    height: 35px;
    width: 150px;
    border-radius: 25px;
    border: 3px solid #5fa8f0;
    color: #ffffff;
    font-weight: 900;
    background-color: rgba(0, 0, 0, 0.808);
margin-left: 25%;
}
.filter-button:hover{
    background-color: #000000;
    border: none;
    color: white;
    cursor: pointer;
}

.search-results{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.search-product-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    /* margin: auto; */
}

.search-image-text-container{

    display: flex;
    flex-direction: column;
    margin: auto;
}

.product-image-container{
    border: 2px #5fa8f0 solid;
    margin: auto; 
    box-shadow: -3px -3px 15px 1px rgba(0,0,0,0.75);
    border-radius: 10px; 
}
.product-image{
    width: 150px;
}
.search-product-text{
    margin-bottom: 10px;
}

.search-inventory-levels{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 20px;
}

.men-inventory-levels{
    margin-bottom: 10px;
    
    
}
.women-inventory-levels{

}



@media (min-width: 0px){
    
}

@media (min-width: 426px){
 
}

@media (min-width: 768px){ 
    
}