.search-landing-container{
    display: flex;
    flex-direction: column;

}

.search-filter-buttons{
    margin-top: 20px;
}

.search-product-div {
    display: flex;
    flex-direction: column;
    width: 20vw;
    margin: auto;
}
.search-product-image{
    transform: scale(.7);
}

.search-results{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.search-product-div{
    flex: 0 0 10%;
}