.login-main-container{   
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to bottom, #01ff80 24%, #0180ff 70%,#4101ff 100%);
}

.admin-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 100vh; */
    margin: 30px auto;
}
.input-container{
    display: flex;
    flex-direction: column;
}

.input-field{
    border-radius: 25px;
    width: 100px;
    border: 1px black solid;
}

.login-button-container{
    color: #0180ff;
    font-size: 10px;
    margin: 15px auto;
}
.login-button{
    width: 100px;
    height: 45px;
    border-radius: 25px;
    color: transparent;
    border: 5px solid #4101ff;
    color: #4101ff;
    font-weight: 900;
    background-color: transparent;
}
.login-button:hover{
        background-color: #4101ff;
        border: none;
        color: white;
        cursor: pointer;
    }

@media(min-width: 768px){
    .input-field{
        width: 200px;
    }
    .login-button{
        width: 150px;
        height: 80px;
        font-size: 30px;
    }
    
}