* {
    box-sizing: border-box;
}
input{
    padding: 0px;
    margin: 0px;
    background-color: #5fa8f0;
    color: white;
    border-radius: 10px;
}
select{
    padding: 0px;
    margin: 0px;
    background-color: #5fa8f0;
    color: white;
}

label{
    font-family: 'Permanent Marker', cursive;
}
button{
    padding: 0px;
    margin: 0px;
}
h4{
    padding: 0px;
    margin: 0px;
}
p{
    padding: 0px;
    margin: 0px;
}

